

.four-0-four-image{
    width: 100%;
    display: block;
    margin: 60px auto;
    margin-top: 100px;
}

.four-0-four-msg{
    text-align: center;
    text-transform: capitalize;
    color: #383838;
    a{
        color: #383838;
    }
}
